.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
}

.details {
  width: 28rem;
  background-color: rgb(7, 7, 7, 0.7);
  padding: 10px;
  border-radius: 10%;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.error-list {
  color: red;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  a {
    color: whitesmoke;
  }
}
