.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;

  .details {
    width: 25rem;
    background-color: rgb(7, 7, 7, 0.8);
    padding: 10px;
    border-radius: 5%;
  }

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    a {
      color: whitesmoke;
    }
  }
}
